@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
@import "prism.css";
/*! purgecss end ignore */

/*Custom Styles Here*/

.special-bg {
    background-image: url('/img/background-v4.jpeg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    /* filter: blur(30px); */
}